@font-face 
{
    font-family: space-mono;
    src: url(https://fonts.google.com/specimen/Space+Mono);
	transition: all 4s;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #141618;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #141618;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

html 
{
	text-align: center;
	background: rgb(26, 26, 26);
	font-size: 25px;
	transition:all 3s !important;
}

.dark-mode 
{
	background : #e4eef8 !important;
	transition: all 3s;
	@media only screen and (max-width: 600px) {
		background : #e4eef8 !important;
	}

}

.light-mode
{
	transition: all 3s;
}

#clock 
{
	text-align: left;
	display: inline-block;
	padding: 2em;
	margin: 3em;
	border-radius: .5em;
	font-family: 'space-mono', monospace;
	word-spacing: -1.1em;
	letter-spacing: .5em;
	white-space: nowrap;
	transition: all 3s;
}

#clock > .word 
{
	text-transform: uppercase;
	font-size: 2em;
	word-spacing: 0em;

	opacity: .1;

	transition: all 3s;
}

.light-words
{
	color: rgb(23, 23, 186) !important;
    text-shadow: 0 0 5px rgb(69, 2, 204);
}

#clock > .word.on 
{
	opacity: 1;
	color: rgb(0, 255, 17);
    text-shadow: 0 0 5px rgb(2, 204, 19);
}




